<div class="row">
	<div class="col-6 text-left border"> <%= university_entry.name %> </div>
	<div class="col-2 text-center border"> <%= university_entry.rank %> </div>
	<div class="col-4 text-left border"> <%= university_entry.remarks %> </div>
</div>
